<h1>DragonBall Page</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <app-dbz-character-list
      listName="Personajes"
      [characters]="dragonballService.characters()"
      [onDelete]="dragonballService.deleteCharacter.bind(dragonballService)"
    ></app-dbz-character-list>
  </div>

  <!-- Formulario -->
  <div class="col-12 col-sm-6">
    <app-dbz-character-form
      (onNewCharacter)="dragonballService.addCharacter($event)"
    ></app-dbz-character-form>
  </div>
</section>
